@import "../../../Styles/Helpers/_mixins.scss";
@import "../../../Styles/Variables/_colors.module.scss";
@import "../../../Styles/Variables/_fonts.module.scss";
@import "../../../Styles/Variables/colors";

%text-hovering-style {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $light-blue-font-color;
  transform-origin: center;
  transition: transform 0.50s ease-out;
}
.layout-header-parent-container{
  background-color: $app-navbar-background-color;
  position: sticky;



}
//header
.ant-layout-header.header-container {
  background-color: transparent;
  height: 92px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  position: relative;
}


.logo-button {
  width: fit-content;
  height: fit-content;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: none;
}


//navbar
.ant-space.ant-space-horizontal.ant-space-align-center.header-space-1 {
  gap: 75px !important;

}

//navbar menu
.ant-space.ant-space-horizontal.ant-space-align-center.header-space {
  gap: 44px !important;
  padding-left: 122px;
}

.header-menu-item {
  border: none !important;
  cursor: pointer;
}

.ant-space.ant-space-horizontal.ant-space-align-center.header-space {

  .navbar-services-text {
    &:hover {
      * {
        color: $light-blue-font-color !important;
      }
    }

    &:after {
      @extend %text-hovering-style;
    }
  }

  .navbar-selected-item {
    &.ant-typography {
      color: $primary-colorized-color !important;
    }
  }


  .navbar-not-selected-item {
    &.ant-typography {
      padding-bottom: 9px;

      &:hover {
        color: $primary-colorized-color !important;
      }

      &:after {
        @extend %text-hovering-style;
      }
    }
  }

  Button:hover {
    .ant-typography.text-regular-20:hover:after {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
}


.get-in-touch-div {
  position: absolute;
  top: 9px;
  right: 0;
}

.ant-space.ant-space-horizontal.ant-space-align-center.header-space .navbar-selected-item .up-down-icons,
.ant-space.ant-space-horizontal.ant-space-align-center.header-space .ant-space.ant-dropdown-trigger:hover {
  .up-down-icons {
    filter: invert(42%) sepia(61%) saturate(1168%) hue-rotate(182deg) brightness(76%) contrast(99%)
  }

  .ant-typography {
    color: $primary-colorized-color !important;
  }
}

.ant-space.ant-space-horizontal.ant-space-align-center.header-space .ant-typography:active span,
.ant-space.ant-space-horizontal.ant-space-align-center.header-space .ant-typography .up-down-icons {
  cursor: pointer;
}

.navbar-dropdown {
  gap: 4px !important;

  &:has(.navbar-selected-item) {
    img {
      filter: invert(42%) sepia(61%) saturate(1168%) hue-rotate(182deg) brightness(76%) contrast(99%) !important;
    }
  }
}

.up-down-icons {
  vertical-align: 0 !important;
}

.up-down-icons {
  width: 16px;
  height: 16px;
}

.process-dropdown.ant-dropdown-menu {
  padding: 16px;
  display: grid;
  gap: 12px;
  border-radius: 0 0 20px 20px;
  width: 203px;
  border-top: 1px solid #F2F8FE;
  box-shadow: 0 8px 10px 0 rgba(31, 131, 244, 0.10);

  .ant-dropdown-menu-item {
    padding: 0;
  }
}

.selected-process{
  color: $primary-colorized-color !important;
}
.process-dropdown.ant-dropdown-menu li:hover {
  background: none;

  .process-link {
    cursor: pointer;

    &:hover {
      color: $primary-colorized-color !important;
    }
  }
}

.process-dropdown.ant-dropdown-menu li:hover .text-regular-16.ant-typography {
  color: $light-blue-font-color;
}


.ant-btn.ant-btn-link.menu-button {
  display: none;
  float: right;
  background: none;
}

.nav-social-icon {
  //gap:8px !important;
  display: flex !important;
}

.nav-social-icon .ant-space-item .ant-btn.ant-btn-default .ant-image .ant-image-img:hover {
  filter: invert(51%) sepia(99%) saturate(1112%) hue-rotate(180deg) brightness(102%) contrast(99%);
}

.nav-social-icon .ant-btn.ant-btn-default {
  border: none;
  padding: 0;
  box-shadow: none;
  height: fit-content;
}

.our-process-link {
  padding-left: 0;
  padding-right: 0;
}

//serices overlay
.services-list {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 8px 10px 0 rgba(31, 131, 244, 0.10);
  width: 70vw;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 40px;
  text-align: left;

  .sub-services {
    display: grid;
    margin-top: 20px;
    gap: 12px;

    .service-link {
      cursor: pointer;

      &:hover {
        color: $primary-colorized-color !important;
      }
    }
  }

  .ant-row {
    justify-content: space-between;
  }
}
.selected-service-link{
  color: $primary-colorized-color !important;
}


.ant-dropdown:has(.services-list) {
  left: calc(50% - min(35vw, 600px)) !important;
}

@include media-query(laptop) {
  .nav-social-icon {
    gap: 2.2vw !important;
  }

}

@media screen and (max-width: 1390px) {
  .ant-btn.ant-btn-default.get-in-touch {
    padding: 10px 20px !important;
  }
}


@media screen and (max-width: 1330px) {
  .ant-space.ant-space-horizontal.ant-space-align-center.header-space {
    gap: 28px !important;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1140px) {
  .ant-space.ant-space-horizontal.ant-space-align-center.header-space {
    gap: 16px !important;
    padding-left: 32px;
  }
  .logo-image {
    width: 180px !important;
    height: auto !important
  }
}

@include media-query(tablet) {

  .logo-image {
    height: 32px !important;
    width: 112px !important;
  }


  .ant-layout-header.header-container {
    //background-color: #fff;
    width: 100%;
    height: 64px;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .ant-layout-header.header-container-tablet {
    //background-color: #fff;
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    display: inline-table;
    margin-top: 17px;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space-1 {
    flex-direction: column;
    background-color: unset;
    width: 100%;
    gap: 0 !important;
    padding-bottom: 0;
    align-items: start;
    color: $navy-blue-font-color;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space-1 .ant-typography.text-regular-20 {

  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 4px !important;
    padding-left: 0;
    padding-bottom: 0;
    align-items: start;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space button {
    color: $navy-blue-font-color;
  }

  .get-in-touch {
    border: none !important;
    background-color: unset !important;
    box-shadow: none;
    padding-left: 0 !important;
    text-align: left;

    .get-in-touch-icon {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }

  }
  .get-in-touch .ant-typography {

  }
  .ant-btn.ant-btn-link.header-menu-item {
    padding-left: 0;
    width: 100%;
    text-align: center;
    background: none;
  }

  .process-dropdown.ant-dropdown-menu {
    background: #fff;

  }

  .ant-btn.ant-btn-link.menu-button {
    height: 56px;
    display: block;
    justify-content: right;
    margin-top: 10px;
  }

  .ant-btn.ant-btn-link.menu-button svg {
    width: 24px;
    height: 24px;
    color: $navy-blue-font-color;
  }
  .our-process-link {
    padding-bottom: 120px !important;
    padding-left: 0;
    padding-right: 0;
  }

}

@include media-query(mobile) {
  .logo-image {
    height: 32px !important;
    width: 112px !important;
  }

  .our-process-link {
    padding-bottom: 120px !important;
    padding-left: 0;
    padding-right: 0;
  }
  .ant-layout-header.header-container {
    //background-color: #fff;
    width: 100%;
    height: 64px;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .ant-btn.ant-btn-link.menu-button svg {
    width: 18px;
    height: 18px;
  }

  .ant-btn.ant-btn-link.menu-button {
    height: 60px;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
  }

  .get-in-touch .ant-typography {

  }
  .ant-layout-header.header-container {
    //background-color: #fff;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    display: inline-table;
  }

  .ant-layout-header.header-container-tablet {
    //background-color: #fff;
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    display: inline-table;
    margin-top: 6.95px
  }
  .process-dropdown.ant-dropdown-menu {
    background: #fff !important;
  }


  .ant-space.ant-space-horizontal.ant-space-align-center.header-space-1 {
    flex-direction: column;
    background-color: unset;
    width: 100%;
    gap: 0 !important;
    padding-bottom: 0;
    align-items: start;
    color: $navy-blue-font-color;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space-1 .ant-typography.text-regular-20 {

  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 4px !important;
    padding-left: 0;
    padding-bottom: 0;
    align-items: start;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.header-space button {
    color: $navy-blue-font-color;
  }

  .get-in-touch {
    border: none !important;
    background-color: unset !important;
    box-shadow: none;
    padding-left: 0 !important;
    text-align: left;

    .get-in-touch-icon {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }
  }

  .ant-btn.ant-btn-link.header-menu-item {
    padding-left: 0;
    width: 100%;
    text-align: center;
    background: none;
  }

  .process-dropdown.ant-dropdown-menu {
    background: none;
  }

  .process-dropdown.ant-dropdown-menu .ant-typography.text-regular-16 {

  }

  .ant-btn.ant-btn-link.menu-button svg {
    width: 18px;
    height: 18px;
    color: $navy-blue-font-color;
  }

}