@import "../../../Styles/Helpers/mixins";

@import "./BlogCard/style.scss";
@import "./BlogCardSkeleton/styles.scss";

.blog-list {
  margin-top: 0;

  .ant-list-item {
    margin-bottom: 32px !important;
  }
}

@include media-query(tablet-and-mobile) {
  .blog-list {
    margin-top: 24px;

    .ant-list-item {
      margin-bottom: 20px !important;
    }
  }
}

