@import "../../../Styles/Helpers/mixins";


.about-us-title {
  font-weight: 400 !important;
  text-transform: capitalize;
  margin-left: 37px !important;
  &::before{
    content: "";
    left: 0;
    top: 8px;
    width: 20px;
    height: 12px;
    border-bottom: 2px solid #F89B35;
    position: absolute;
  }
}

.about-us-subtitle{
  margin-top: 0 !important;
}

.about-us-description {
  white-space: break-spaces;
}

.about-us-header-container {
  padding-top: 64px;
  padding-bottom: 64px;


  .about-us-header {
    align-items: center;
    max-width: 1200px;
    margin: auto;

    .about-us-text {
      text-align: left;
      //width: 589px;
      white-space: break-spaces;
      display: grid;
      gap: 24px;

    }
  }

  .ant-col:has(.about-us-header-image) {
    display: flex;

    .about-us-header-image {
      margin-left: auto;

      width: 90%;
      height: auto;
      max-width:460px;
    }
  }

  &.What-we-do {
    .about-us-header {
      flex-direction: row-reverse;

      .about-us-title {

        &, *:not(.about-us-tag) {
          //line-height: 50.2px !important;
        }
      }

      .about-us-header-image {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}


@media screen and (max-width: 1300px) and  (min-width:992px ){
  .about-us-title {

    &, *:not(.about-us-tag) {
      font-size: 32px !important;
    }
  }


}

@include media-query(tablet-and-mobile) {
  .about-us-description {
    white-space: normal;
    text-align: left;
  }
  .about-us-header-container {
    padding: 24px 0;

    .about-us-header {
      justify-content: center;


      .about-us-text {
        text-align: center;
        white-space: normal !important;
        width: 100%;

        * {
          margin-bottom: 0 !important;
          line-height: 24px;
        }


      }

      .ant-col:has(.about-us-header-image) {
        display: flex;

        .about-us-header-image {
          margin: auto;
          width: 90%;
          height: auto;
        }
      }
    }
  }

}
