@import "../../../Styles/Helpers/mixins";

.blog-header {




  .blog-category-skeleton {
    width: 100px;

    .ant-skeleton-title {
      margin-bottom: 0;
      height: 22px;
      border-radius: 5px;
    }
  }

  .search-close-icon {
    &:hover {
      filter: invert(42%) sepia(61%) saturate(1168%) hue-rotate(182deg) brightness(95%) contrast(99%);
    }
  }


}


.blog-description {
  margin-top: 12px !important;
  margin-bottom: 64px !important;
}


.blog-tabs-bar {
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background-color: #35ACFE;
  }
}


.search-result-item {
  display: flex;
  justify-content: space-between;
  //margin-bottom: 9px;
  //margin-top: 9px;
  color: #232532;
  white-space: initial;
}



.blog-header-title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: start;
  .latest-title{
    margin-bottom: 10px !important;
  }
}

@include media-query(tablet-and-mobile) {
  .blog-header-title {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .blog-header {
    .ant-input-affix-wrapper {
      border-radius: 8px;
    }

    .blog-tabs-bar {
      margin-top: 24px;

      .ant-tabs-tab-btn {
        padding: 4px 12px;
      }
    }
  }
}


