.company-profile{
    border: 1px solid #E0E6F7;
    padding: 25px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 40px;
    .comaony-logo{
        width: 82px;
        height: 82px;
    }
}