@import "../../../Styles/Helpers/mixins";
@import "../../../Styles/Variables/variables";
@import "../../../Styles/Helpers/mixins";


.companies-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 110px;
}
.top-companies{
  .list-cards-container{
    grid-template-rows: auto auto;
  }
}

.companies-item-logo {
  border: 1px solid rgba(6, 18, 36, 0.1);
  padding: 22px 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  text-align: left;
  border-radius: 12px;
  background-color: #ffffff;
  flex-wrap: wrap;
  float: left;
  width: 100%;

   img {
    width: 90px;
    border-radius: 10%;
  }
}


@include media-query(tablet-and-mobile) {

}
