@import "../../../Styles/Helpers/mixins";
@import "../../../Styles/Variables/variables";
@import "../../../Styles/Helpers/mixins";



.hero-section-subtitle{
  margin-top: 0 !important;
}


.hero-section-header-container {
  // padding-top: 64px;
  padding-bottom: 110px;


  .hero-section-header {
    align-items: start;
    max-width: 1200px;
    margin: auto;

    .hero-section-text {
      text-align: left;
      max-width: 446px;
      // margin-left: auto;
      //width: 589px;
      white-space: break-spaces;
      display: grid;

    }
  }

  .ant-col:has(.hero-section-header-image) {
    display: flex;

    .hero-section-header-image {
      margin-left: auto;
      height: auto;
      max-width: 378px;
    }
  }


    .hero-section-header {
      //flex-direction: row-reverse;

      .hero-section-header-image {
        // margin-left: auto;
        // margin-right: auto;

      }

  }
}




.hero-section-container{
@include fullWidthSection;
  padding-top: 108px;
  // margin-left:0 !important;
  // margin-right:0 !important;
  @include media-query(laptop) {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }

  @include media-query(tablet) {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  @include media-query(mobile) {
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  background-image: url(../../../public/Assets/Images/page/homepage1/bg-banner.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 750px;
  //position: absolute;
  //z-index: -1;
  //width: 100%;
  //top: 0;
  //right: 0;
  .heading-banner {
    color: $color-brand;
    
    padding-bottom: 80px;
    //font-size: 48px;
    font-family: plus-jakarta-sans-extra-bold !important;
  
   
    line-height: 60px;
    br{
      display: block;
    }
  }
  .color-brand-2,
  .card-grid-2 .card-block-info .card-text-price{
    color:#f8c80d

  }



  .hero-section-header-image{
    animation: hero-thumb-animation 2s linear infinite alternate;
    margin-top: 10%;
  }

  .color-brand-2{
    position: relative;
    &::after {
    content: "";
    background-color: #3C65F5;
    height: 25px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    z-index: -1;
    opacity: 0.1;
  }}

  .ant-input-search-with-button{
    background: #ffffff;
    box-shadow: 0px 18px 40px rgba(25, 15, 9, 0.1);
    border-radius: 8px;
    height: 70px;
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    .ant-input-wrapper{
      height: 100%;
      .ant-space{
        gap: 12px !important
      }
    }
    input,.ant-input-affix-wrapper{
      border: none;
      height: 100%;
      box-shadow: none !important;
      img{
        margin-right: 6px;
      }
    }
    button{
     font-family: plus-jakarta-sans-semi-bold;
      padding: 10px 23px !important;
      width: 122px;
      height: 50px !important;
      border-radius: 8px !important;
    }
  }

  .btn-apply-icon {
    background-image: url(../../../public/Assets/Images/template/icons/apply.svg);
    background-position: 15px 11px;
    background-repeat: no-repeat;
    padding-left: 40px;
    &:hover{
    transform: none !important;
   } *{
      font-size: 14px;
      font-family: plus-jakarta-sans-regular !important;
      white-space: pre;
      line-height: 1;
    }
}
  .box-we-hiring {
    width: 100%;
    margin-top: 70px;
    border: 1px solid #E0E6F7;
    padding: 40px 250px 40px 190px;
    position: relative;
    display: flex;
    box-shadow: 0px 10px 20px -5px rgba(10, 42, 105, 0.06);
    border-radius: 4px;
    overflow: hidden;

    &:before{
      content: "";
      position: absolute;
      bottom: 15px;
      left: 15px;
      height: 120px;
      width: 150px;
      background: url(../../../public/Assets/Images/page/homepage1/bg-left-hiring.svg) no-repeat 0px 0px;
      background-size: cover;
    }

    &::after {
         content: "";
         position: absolute;
         bottom: 15px;
         right: -5px;
         height: 120px;
         width: 250px;
         background: url(../../../public/Assets/Images/page/homepage1/bg-right-hiring.svg) no-repeat 0px 0px;
         background-size: cover;
       }
    .text-we-are {
      font-size: 16px;
      line-height: 20px;
      color: #A0ABB8;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: block;
      
      text-align: left;
    }
   .text-hiring {
      font-size: 49px;
      line-height: 51px;
      color: #05264E;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: plus-jakarta-sans-extra-bold !important;
      
      text-align: left;
    }
    .text-2 {
      font-size: 18px;
      line-height: 23px;
      color: #66789C;
      font-weight: 500;
      padding: 29px 20px 0px 20px;
      
      text-align: left;
    }
     .text-3 {
      padding: 34px 0px 0px 20px;
      text-align: left;
    }
    .color-brand-1 {
      color: #f8c80d !important;
  }
  }
}

@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}



.hero-image {
  -webkit-animation: hero-thumb-animation 2s linear infinite alternate;
  -moz-animation: hero-thumb-animation 2s linear infinite alternate;
  -o-animation: hero-thumb-animation 2s linear infinite alternate;
  animation: hero-thumb-animation 2s linear infinite alternate;
}






@media screen and (max-width: 1300px) and  (min-width:992px ){
  .hero-section-title {

    &, *{
      //font-size: 32px !important;
    }
  }


}

@include media-query(tablet-and-mobile) {
  .hero-section-description {
    white-space: normal;
    text-align: left;
  }
  .hero-section-header-container {
    padding: 24px 0;

    .hero-section-header {
      justify-content: center;


      .hero-section-text {
        text-align: center;
        white-space: normal !important;
        width: 100%;

        * {
          margin-bottom: 0 !important;
          line-height: 24px;
        }


      }

      .ant-col:has(.hero-section-header-image) {
        display: flex;

        .hero-section-header-image {
          margin: auto;
          width: 90%;
          height: auto;
        }
      }
    }
  }

}
