@import "../../../Styles/Helpers/mixins";

.our-blogs-container {
  margin-top: 50px;
  .blog-list {
    margin-top: 48px;
  }

  .our-blogs-header {
    > .our-blogs-title {
      width: 350px;
    }

    display: flex;
    justify-content: space-between;
    width: calc(50% + 175px);
    margin-left: auto;


  }

  .our-blogs-button {
    cursor: pointer;
    padding: 6px 20px;
    background: #05264E;
    color: #ffffff;
    border-radius: 4px;
    height: 52px !important;
    img{
      margin-right: 8px;
    }

  }
}

@include media-query(tablet-and-mobile) {
  .our-blogs-container {
    .blog-list {
      margin-top: 24px;
    }

    .our-blogs-header {
      padding-top: 32px;
      justify-content: center;

      > .our-blogs-title {
        width: auto;
      }

      width: auto;
      margin-left: unset;
    }


  }
}